
@import '../../../styles/utils/_variables';
@import '../../../styles/utils/_mixins';

.typography {
    color: $color-font-base;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0;

    &.size {
        &-40 {
            font-size: 40px;
            line-height: 54px;
        }

        &-34 {
            font-size: 34px;
            line-height: 46px;
        }

        &-26 {
            font-size: 26px;
            line-height: 35px;
        }

        &-24 {
            font-size: 24px;
            line-height: 33px;
        }

        &-22 {
            font-size: 22px;
            line-height: 30px;
        }

        &-20 {
            font-size: 20px;
            line-height: 27px;
        }

        &-18 {
            font-size: 18px;
            line-height: 24px;
        }

        &-16 {
            font-size: 16px;
            line-height: 22px;
        }

        &-14 {
            font-size: 14px;
            line-height: 19px;
        }

        &-12 {
            font-size: 12px;
            line-height: 15px;
        }

        &-11 {
            font-size: 11px;
            line-height: 15px;
        }
    }

    &.color {
        &-blue {
            color: $color-brand-blue;
        }

        &-dark {
            color: $color-brand-dark;
        }

        &-light {
            color: $color-brand-light;
        }

        &-danger {
            color: $color-danger;
        }
    }

    &.weight {
        &-light {
            font-weight: 300;
        }

        &-regular {
            font-weight: 400;
        }

        &-semi-bold {
            font-weight: 600;
        }

        &-bold {
            font-weight: 700;
        }

        // &-extra-bold {
        //     font-weight: 800;
        // }

        // &-black {
        //     font-weight: 900;
        // }
    }

    &.underlined {
        text-decoration: underline;
    }
}
